@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Elite&display=swap');


.Pacifico-Font {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }