
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75,300..700&family=Pacifico&family=Special+Elite&display=swap');


.Pacifico-Font {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}